In [1]:
import pandas as pd

In [23]:
# Mapping lets you format an entire DataFrame
file = "Resources/sample_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   id      city   avg_cost  population     other
0   1  Houxiang  55.121518      609458 -15.66171
1   2    Leribe  95.782967      601963 -23.79499
2   3  Hengshan  57.867827      589509   1.31471
3   4    Sogcho  59.220634      948491 -11.38280
4   5     Kohlu  23.092232       92206   7.66861

In [24]:
# Use Map to format all the columns
file_df["avg_cost_fixed"] = file_df["avg_cost"].map("${:.2f}".format)
file_df["population"] = file_df["population"].map("{:,}".format)
file_df["other"] = file_df["other"].map("{:.2f}".format)
file_df.head()

   id      city   avg_cost population   other avg_cost_fixed
0   1  Houxiang  55.121518    609,458  -15.66         $55.12
1   2    Leribe  95.782967    601,963  -23.79         $95.78
2   3  Hengshan  57.867827    589,509    1.31         $57.87
3   4    Sogcho  59.220634    948,491  -11.38         $59.22
4   5     Kohlu  23.092232     92,206    7.67         $23.09

In [25]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes

id                  int64
city               object
avg_cost          float64
population         object
other              object
avg_cost_fixed     object
dtype: object

In [34]:
file_df["Rounded"]=file_df["avg_cost"].map(round)
file_df

,id,city,avg_cost,population,other,avg_cost_fixed,Rounded
0,1,Houxiang,55.121518,"609,458",-15.66,$55.12,55
1,2,Leribe,95.782967,"601,963",-23.79,$95.78,96
2,3,Hengshan,57.867827,"589,509",1.31,$57.87,58
3,4,Sogcho,59.220634,"948,491",-11.38,$59.22,59
4,5,Kohlu,23.092232,"92,206",7.67,$23.09,23
5,6,Jinsha,86.173824,"799,873",23.09,$86.17,86
6,7,Carvalhinho,99.933563,"596,174",-12.49,$99.93,100
7,8,Miragaia,34.180978,"974,753",-5.99,$34.18,34
8,9,Ozorków,32.884656,"239,314",15.68,$32.88,33
9,10,Šmarje pri Jelšah,54.163504,"307,644",-12.35,$54.16,54
10,11,Parravak’ar,32.480619,"624,876",-5.51,$32.48,32
11,12,Basel,73.736768,"100,134",-13.39,$73.74,74
12,13,Tombu,67.708518,"611,917",11.19,$67.71,68
13,14,Riangwale,34.758322,"250,553",-11.56,$34.76,35
14,15,Bystřice nad Pernštejnem,65.074144,"933,808",-5.43,$65.07,65
15,16,Konsoy,26.275509,"846,674",-19.09,$26.28,26
16,17,Lapinjärvi,13.288432,"271,935",20.97,$13.29,13
17,18,Yaojiagou,83.193785,"115,525",21.39,$83.19,83
18,19,Moyynkum,56.050060,"958,962",-3.14,$56.05,56
19,20,Bandhagen,61.322806,"900,392",-24.03,$61.32,61
20,21,Wenquan,7.967056,"86,778",-1.54,$7.97,8
21,22,Bangker,75.945847,"176,705",7.66,$75.95,76
22,23,San Basilio,14.814905,"590,183",15.07,$14.81,15
23,24,Bojong,59.315756,"392,921",-9.96,$59.32,59
24,25,Kushiro,55.272240,"905,195",-7.69,$55.27,55
25,26,Tignoan,43.555685,"942,725",2.56,$43.56,44
26,27,Turan,60.342238,"991,346",0.09,$60.34,60
27,28,Tála,53.749434,"351,949",-22.72,$53.75,54
28,29,Alto de la Estancia,36.057994,"962,163",-10.27,$36.06,36
29,30,Song,90.948289,"727,778",11.16,$90.95,91
...,...,...,...,...,...,...,...
970,971,Rumat Heib,21.594802,"883,634",15.57,$21.59,22
971,972,Fulu,5.463305,"898,165",-20.61,$5.46,5
972,973,Aranguren,1.875208,"90,883",10.55,$1.88,2
973,974,Bueng Khong Long,44.849359,"855,435",-20.39,$44.85,45
974,975,Leppävirta,55.909189,"207,249",-17.11,$55.91,56
975,976,Jiazhi,67.708294,"816,102",-10.06,$67.71,68
976,977,Grajaú,15.172049,"818,064",-6.47,$15.17,15
977,978,Cannes,37.587172,"756,613",-24.35,$37.59,38
978,979,Volgo-Kaspiyskiy,61.389129,"789,286",-16.04,$61.39,61
979,980,Parista,48.576635,"645,024",-18.20,$48.58,49
980,981,Ikey,61.593724,"774,852",-11.00,$61.59,62
981,982,Pyatnitskoye,81.640882,"409,400",-19.27,$81.64,82
982,983,Nässjö,73.722096,"338,159",15.67,$73.72,74
983,984,Nadrupe,57.718374,"697,987",14.39,$57.72,58
984,985,Petrijevci,55.075394,"510,074",-13.83,$55.08,55
985,986,Bacem,7.690116,"452,147",-22.84,$7.69,8
986,987,Mawlaik,9.979831,"668,103",-20.43,$9.98,10
987,988,Kakamas,48.834794,"117,370",-20.89,$48.83,49
988,989,Bulangan,34.910927,"685,375",-19.86,$34.91,35
989,990,Sumqayıt,18.177172,"137,617",15.99,$18.18,18
990,991,Zarya,18.395238,"820,096",2.83,$18.40,18
991,992,Karang Daye,50.362894,"300,350",-5.10,$50.36,50
992,993,Marseille,98.900931,"681,025",4.50,$98.90,99
993,994,Taupo,96.629252,"671,040",-24.67,$96.63,97
994,995,Baoshan,53.759515,"879,922",-11.24,$53.76,54
995,996,Castlebellingham,43.955867,"884,689",-23.21,$43.96,44
996,997,Bowang,24.995609,"819,963",19.80,$25.00,25
997,998,Huangjiakou,50.693455,"415,695",-8.60,$50.69,51
998,999,Voskopojë,76.058354,"120,458",11.33,$76.06,76
999,1000,Maulavi Bāzār,21.435925,"68,183",-21.03,$21.44,21

,id,city,avg_cost,population,other,avg_cost_fixed,Rounded
0,1,Houxiang,55.121518,"609,458",-15.66,$55.12,55
1,2,Leribe,95.782967,"601,963",-23.79,$95.78,96
2,3,Hengshan,57.867827,"589,509",1.31,$57.87,58
3,4,Sogcho,59.220634,"948,491",-11.38,$59.22,59
4,5,Kohlu,23.092232,"92,206",7.67,$23.09,23
5,6,Jinsha,86.173824,"799,873",23.09,$86.17,86
6,7,Carvalhinho,99.933563,"596,174",-12.49,$99.93,100
7,8,Miragaia,34.180978,"974,753",-5.99,$34.18,34
8,9,Ozorków,32.884656,"239,314",15.68,$32.88,33
9,10,Šmarje pri Jelšah,54.163504,"307,644",-12.35,$54.16,54
10,11,Parravak’ar,32.480619,"624,876",-5.51,$32.48,32
11,12,Basel,73.736768,"100,134",-13.39,$73.74,74
12,13,Tombu,67.708518,"611,917",11.19,$67.71,68
13,14,Riangwale,34.758322,"250,553",-11.56,$34.76,35
14,15,Bystřice nad Pernštejnem,65.074144,"933,808",-5.43,$65.07,65
15,16,Konsoy,26.275509,"846,674",-19.09,$26.28,26
16,17,Lapinjärvi,13.288432,"271,935",20.97,$13.29,13
17,18,Yaojiagou,83.193785,"115,525",21.39,$83.19,83
18,19,Moyynkum,56.050060,"958,962",-3.14,$56.05,56
19,20,Bandhagen,61.322806,"900,392",-24.03,$61.32,61
20,21,Wenquan,7.967056,"86,778",-1.54,$7.97,8
21,22,Bangker,75.945847,"176,705",7.66,$75.95,76
22,23,San Basilio,14.814905,"590,183",15.07,$14.81,15
23,24,Bojong,59.315756,"392,921",-9.96,$59.32,59
24,25,Kushiro,55.272240,"905,195",-7.69,$55.27,55
25,26,Tignoan,43.555685,"942,725",2.56,$43.56,44
26,27,Turan,60.342238,"991,346",0.09,$60.34,60
27,28,Tála,53.749434,"351,949",-22.72,$53.75,54
28,29,Alto de la Estancia,36.057994,"962,163",-10.27,$36.06,36
29,30,Song,90.948289,"727,778",11.16,$90.95,91
...,...,...,...,...,...,...,...
970,971,Rumat Heib,21.594802,"883,634",15.57,$21.59,22
971,972,Fulu,5.463305,"898,165",-20.61,$5.46,5
972,973,Aranguren,1.875208,"90,883",10.55,$1.88,2
973,974,Bueng Khong Long,44.849359,"855,435",-20.39,$44.85,45
974,975,Leppävirta,55.909189,"207,249",-17.11,$55.91,56
975,976,Jiazhi,67.708294,"816,102",-10.06,$67.71,68
976,977,Grajaú,15.172049,"818,064",-6.47,$15.17,15
977,978,Cannes,37.587172,"756,613",-24.35,$37.59,38
978,979,Volgo-Kaspiyskiy,61.389129,"789,286",-16.04,$61.39,61
979,980,Parista,48.576635,"645,024",-18.20,$48.58,49
980,981,Ikey,61.593724,"774,852",-11.00,$61.59,62
981,982,Pyatnitskoye,81.640882,"409,400",-19.27,$81.64,82
982,983,Nässjö,73.722096,"338,159",15.67,$73.72,74
983,984,Nadrupe,57.718374,"697,987",14.39,$57.72,58
984,985,Petrijevci,55.075394,"510,074",-13.83,$55.08,55
985,986,Bacem,7.690116,"452,147",-22.84,$7.69,8
986,987,Mawlaik,9.979831,"668,103",-20.43,$9.98,10
987,988,Kakamas,48.834794,"117,370",-20.89,$48.83,49
988,989,Bulangan,34.910927,"685,375",-19.86,$34.91,35
989,990,Sumqayıt,18.177172,"137,617",15.99,$18.18,18
990,991,Zarya,18.395238,"820,096",2.83,$18.40,18
991,992,Karang Daye,50.362894,"300,350",-5.10,$50.36,50
992,993,Marseille,98.900931,"681,025",4.50,$98.90,99
993,994,Taupo,96.629252,"671,040",-24.67,$96.63,97
994,995,Baoshan,53.759515,"879,922",-11.24,$53.76,54
995,996,Castlebellingham,43.955867,"884,689",-23.21,$43.96,44
996,997,Bowang,24.995609,"819,963",19.80,$25.00,25
997,998,Huangjiakou,50.693455,"415,695",-8.60,$50.69,51
998,999,Voskopojë,76.058354,"120,458",11.33,$76.06,76
999,1000,Maulavi Bāzār,21.435925,"68,183",-21.03,$21.44,21